@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos comuns em todas páginas */

body {
    width: 1440px;
    height: 1024px;
    background-color: #000000;
}

section {
    margin-left: 43px;
    margin-top: 36px;
    color: #FFFFFF;
}

header {
    width: 1320px;
    height: 115px;
    border: 1px solid #FFFFFF;
    display: flex;
}

.logo-engnet {
    margin-top: 29px;
    margin-left: 23px;
    margin-bottom: 17px;
}

.img-wrapper {
    border-right: 1px solid #FFFFFF;
    width: 115px;
}

p {
    font-family: 'Inter';
    font-size: 14px;
}

h3 {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 700;
}

.links {
    display: flex;
    margin-left: 79px;
}

.service-link:hover {
    cursor: pointer;
    color: #FF731A;
}

.sobre-link:hover {
    cursor: pointer;
    color: #A031DB;
}

.processo-link:hover {
    cursor: pointer;
    color: #FF006B;
}

a {
    all: unset;
}


.email {
    display: flex;
    height: 22px;
    width: 204px;
    margin-top: 47px;
    margin-right: 21px;
    margin-bottom: 28px;
    margin-left: 340px;
    align-items: center;
    justify-content: space-between;
}

.email:hover {
    cursor: pointer;
}


.img-email {
    width: 40px;
    height: 40px;
}

.fale {
    font-family: 'Inter';
    font-weight: 700;
    padding-right: -17px;
    width: 150px;
}

.link-header {
    width: 187px;
    height: 47px;
    margin-top: 46px;
    margin-bottom: 22px;
}

.body-component {
    display: flex;
    padding-right: 77px;
}

.side-bar {
    height: 843px;
    border: 1px solid #FFFFFF;
    margin-top: -1px;
    margin-right: -1px;
    width: 115px;
}

.side-logos-div {
    margin-top: 638px;
    margin-left: 37px;
    margin-right: 38px;
}

.side-logos-mini {
    margin-bottom: 19px;
}


.side-logos-mini:hover {
    cursor: pointer;
}

/* Conteúdo Página Principal */

#main-content {
    width: 1205px;
    padding-left: 82px;
    display: grid;
    grid-template-columns: 510px 581px;
    column-gap: 32px;
}

h1 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 48px;
    width: 520px;
    margin-top: 222px;
}

#texto-centro {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    width: 463px;
    margin-top: 10px;
}

#img-centro {
    margin-top: 186px;
}

/* Página de serviços */

#service-content {
    width: 1123px;
    display: grid;
    grid-template-columns: 343px 343px 343px;
    grid-template-rows: 344px 344px;
    padding-top: 49px;
    padding-left: 56px;
    gap: 39px 54px;
}

.service {
    background-color: #FFFFFF;
    border-radius: 20px;
    color: #1E1E1E;
    display: flex;
    flex-direction: column;
    column-gap: 0px;
    align-items: center;
}

.service:hover {
    cursor: pointer;
}

.img-service {
    width: 64px;
    height: 64px;
    margin-top: 76px;
    margin-bottom: 45px;
}

.title-service {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 10px;
}

.text-service {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    width: 304px;
}

#solucoes-personalizadas {
    grid-column: 2 / 4;
}

#text-big {
    width: 655px;
}

/* Telas grandes */
@media (min-width: 1440px) {

    body {
        width: 100%;
        height: 100%;
    }

    section {
        margin-bottom: 31px;
    }

    header {
        width: 95vw;
        justify-content: space-between;
    }

    .body-component{
        width: inherit;
        
    }

    #main-content {
        width: inherit;
        justify-content: space-between;
        grid-template-columns: 35vw 40vw;
  
    }

    #img-centro {
        width: 35vw;
    }

}

/* Telas pequenas */
@media(max-width: 600px) {

    body {
        width: 100%;
        height: 100%;
    }

    section {
        width: 100vw;
        display: flex;
        flex-direction: column;
        margin-left: 0;
        align-items: center;
    }

    header {
        width: 90vw;
        justify-content: left;
        height: 10vh;
    }

    .img-wrapper {
        width: 15vw;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    a > p {
        display: none;
    }

    div > h3 {
        display: none;
    }

    .logo-engnet {
        width: 10vw;
        height: auto;
        margin: 0;
    }

    .links {
        margin-left: 0;
        width: 60vw;
        align-content: space-around ;
    }

    .link-header {
        width: auto;
        height: 10vh;
        display: grid;
        align-items: center;
        margin: 0;
        padding: 2vw;
    }

    .service-link {
        height: 10vh;
    }

    .email {
        width: 15vw;
        margin: 0;
        height: auto;
        padding: 2vw;
        justify-content: center;
    }

    .body-component {
        width: 90vw;
        display: grid;
        flex-direction: column;
        padding-right: 0;
    }

    #main-content {
        width: auto;
        display: flex;
        flex-direction: column;
        padding: 0;
        align-items: center;
        grid-row: 1 / 2;
    }

    #img-centro {
        width: 85vw;
        margin-top: 10vh;
    }

    h1 {
        margin-top: 10vh;
        width: 89vw;
        font-size: 40px;
    }

    #texto-centro {
        width: 90vw;
        margin-top: 5vh;
    }

    .side-bar {
        width: 90vw;
        height: 10vh;
        margin-top: 10vh;
        margin-bottom: 5vh;
        display: grid;
        align-items: center;
        justify-content: space-around;
    }

    h3 {
        font-size: 4vw;
        font-weight: 700;
    }

    .side-logos-div {
        margin: 0;
        width: 80vw;
        display: flex;
        justify-content: center;
        column-gap: 5vw;
    }

    .side-logos-mini {
        margin: 0;
        width: 8vw;
    }

}
