@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@400;700&display=swap');
* {
    margin: 0;
    background-color: #1E1E1E;
}

section {
    margin-left: 43px;
    margin-top: 36px;
    color: #FFFFFF;
}

header {
    width: 1320px;
    height: 115px;
    border: 1px solid #FFFFFF;
    display: flex;
}

img {
    margin-top: 29px;
    margin-left: 23px;
    margin-bottom: 17px;
}

#img-wrapper {
    border-right: 1px solid #FFFFFF;
    padding-right: 23px;
}

p {
    font-family: 'Inter';
    font-size: 14px;
}

h3 {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 700;
}

#links {
    display: flex;
    margin-left: 79px;
}

#email {
    display: flex;
    height: 22px;
    width: 204px;
    margin-top: 47px;
    margin-right: 21px;
    margin-bottom: 28px;
    margin-left: 340px;
    align-items: center;
}

#img-email {
    width: 40px;
    height: 40px;
}

#fale {
    font-family: 'Inter';
    font-weight: 700;
    margin-right: 17px;
}

.link-header {
    width: 187px;
    height: 47px;
    margin-top: 46px;
    margin-bottom: 22px;
}

#content {
    display: flex;
}

#side-bar {
    width: 115px;
    height: 957px;
    border: 1px solid #FFFFFF;
}

#main-content {
    width: 1123px;
    background: rebeccapurple;
    padding-left: 82px;
    display: grid;
    grid-template-columns: 520px 581px;
}

h1 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 48px;
    width: 520px;
    margin-top: 222px;
}

#texto-centro {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    width: 463px;
    margin-top: 10px;
}

#img-centro {
    margin-top: 186px;
}